---
export const prerender = true;
---
<html>
  <head>
    <script is:inline>
      const lang = navigator.language?.startsWith('tr') ? 'tr' : 'en';
      window.location.replace('/' + lang + '/');
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0;url=/tr/" />
    </noscript>
  </head>
  <body></body>
</html>
